.security-btn {
    position: relative;
    right: 0;
    min-width: 95px;
    color: #fff;
    border: 10px solid #205b8d;
    border-radius: 3px;
    background: #205b8d;
}

.login-status-header {
    display: flex;
}

.login-status-user-info {
    line-height: 43px;
    border: 1px;
    color: #666;
    padding: 0 17px;
    border-radius: 3px;
    transition: all 0.5s ease;
}